body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.slick-center .slide-h3 {
  color: #fff;
}

.center button {
  z-index: 100;
  color: white;
}

.slick-slide {
  opacity: 0.4;
  transform: scale(0.9);
  transition: all 0.4s ease-in-out;
}
.slick-center {
  display: block;
  max-width: 10% !important;
  max-height: 20% !important;
  opacity: 1;
  transform: scale(1);
}

.slick-prev {
  left: 0 !important;
}

.slick-next {
  right: 0 !important;
}
